Repository Eduk29/person-register-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, test

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint", "test"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

chore: configured linters, changelog lib and karma
  .commitlintrc.json
  .husky/pre-commit
  .versionrc.json
  karma.conf.js
  package-lock.json
  package.json
Due: none

chore(release): 0.0.1
  CHANGELOG.md
  package.json
Due: none

chore: adjust in app prefix
  angular.json
Due: none

wip: impl. basic app routes and modules
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/error/error-routing.module.ts
  src/app/error/error.module.ts
  src/app/error/error.routes.ts
  src/app/error/not-found-page/not-found-page.component.html
  src/app/error/not-found-page/not-found-page.component.scss
  src/app/error/not-found-page/not-found-page.component.spec.ts
  src/app/error/not-found-page/not-found-page.component.ts
  src/app/home/home-page/home-page.component.html
  src/app/home/home-page/home-page.component.scss
  src/app/home/home-page/home-page.component.spec.ts
  src/app/home/home-page/home-page.component.ts
  src/app/home/home-routing.module.ts
  src/app/home/home.module.ts
  src/app/home/home.routes.ts
Due: prettier --write, eslint, test

chore: removed test task from lint-staged
  .lintstagedrc.json
Due: none

chore: added wip to prefix type
  .commitlintrc.json
Due: none

feat: impl app navbar
  src/app/app.component.html
  src/app/app.module.ts
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.scss
  src/app/shared/components/navbar/navbar.component.spec.ts
  src/app/shared/components/navbar/navbar.component.ts
  src/app/shared/components/navbar/navbar.module.ts
Due: prettier --write, eslint, test

test: impl. navbar unit tests
  src/app/app.component.spec.ts
  src/app/shared/components/navbar/navbar.component.html
  src/app/shared/components/navbar/navbar.component.spec.ts
Due: prettier --write, eslint, test

chore: fix app tab name and angular material version
  package-lock.json
  package.json
  src/index.html
Due: prettier --write, eslint

feat: impl. search component
  package.json
  src/app/app.module.ts
  src/app/home/home-page/home-page.component.html
  src/app/home/home-page/home-page.component.spec.ts
  src/app/home/home-page/home-page.component.ts
  src/app/home/home.module.ts
  src/app/shared/components/search-input/search-input.component.html
  src/app/shared/components/search-input/search-input.component.scss
  src/app/shared/components/search-input/search-input.component.spec.ts
  src/app/shared/components/search-input/search-input.component.ts
  src/app/shared/components/search-input/search-input.module.ts
  src/app/shared/configurations/search-mode-options.configuration.ts
  src/app/shared/models/search-filter.model.ts
  src/app/shared/models/system-value.model.ts
  src/app/shared/types/search-mode.type.ts
  src/app/theme/default/bootstrap-api.theme.scss
  src/index.html
  src/styles.scss
Due: prettier --write, eslint, test

feat: impl. data table component
  .eslintrc.json
  angular.json
  src/app/home/home-page/home-page.component.html
  src/app/home/home-page/home-page.component.spec.ts
  src/app/home/home-page/home-page.component.ts
  src/app/home/home.module.ts
  src/app/person/models/person.model.ts
  src/app/person/person.module.ts
  src/app/person/services/person.service.spec.ts
  src/app/person/services/person.service.ts
  src/app/shared/components/data-table/data-table.component.html
  src/app/shared/components/data-table/data-table.component.scss
  src/app/shared/components/data-table/data-table.component.spec.ts
  src/app/shared/components/data-table/data-table.component.ts
  src/app/shared/components/data-table/data-table.module.ts
  src/app/shared/components/no-results/no-results.component.html
  src/app/shared/components/no-results/no-results.component.scss
  src/app/shared/components/no-results/no-results.component.spec.ts
  src/app/shared/components/no-results/no-results.component.ts
  src/app/shared/components/no-results/no-results.module.ts
  src/app/shared/mocks/paginated-person-list.mock.ts
  src/app/shared/mocks/person-list.mock.ts
  src/app/shared/models/paginated-response.model.ts
  src/app/shared/models/pagination-parameters.model.ts
  src/app/shared/utils/service.utils.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
Due: prettier --write, eslint, test

feat: impl. feedback messages component and service
  src/app/home/home-page/home-page.component.spec.ts
  src/app/home/home-page/home-page.component.ts
  src/app/home/home.module.ts
  src/app/shared/components/feedback-messages/feedback-messages.component.html
  src/app/shared/components/feedback-messages/feedback-messages.component.scss
  src/app/shared/components/feedback-messages/feedback-messages.component.spec.ts
  src/app/shared/components/feedback-messages/feedback-messages.component.ts
  src/app/shared/components/feedback-messages/feedback-messages.module.ts
  src/app/shared/components/feedback-messages/services/feedback-message.service.spec.ts
  src/app/shared/components/feedback-messages/services/feedback-message.service.ts
  src/app/shared/models/feedback-messages.model.ts
  src/styles.scss
Due: prettier --write, eslint, test

feat: impl. table actions component
  src/app/home/home-page/home-page.component.spec.ts
  src/app/home/home-page/home-page.component.ts
  src/app/home/home.module.ts
  src/app/shared/components/data-table/data-table.component.html
  src/app/shared/components/data-table/data-table.module.ts
  src/app/shared/components/table-actions/services/table-actions.service.spec.ts
  src/app/shared/components/table-actions/services/table-actions.service.ts
  src/app/shared/components/table-actions/table-actions.component.html
  src/app/shared/components/table-actions/table-actions.component.scss
  src/app/shared/components/table-actions/table-actions.component.spec.ts
  src/app/shared/components/table-actions/table-actions.component.ts
  src/app/shared/components/table-actions/table-actions.module.ts
  src/app/shared/enums/table-action-type.enum.ts
  src/app/shared/models/table-action.model.ts
Due: prettier --write, eslint, test

feat: impl. base route of details and edition features
  angular.json
  src/app/app.routes.ts
  src/app/home/home-page/home-page.component.spec.ts
  src/app/home/home-page/home-page.component.ts
  src/app/person/components/person-details-page/person-details-page.component.html
  src/app/person/components/person-details-page/person-details-page.component.scss
  src/app/person/components/person-details-page/person-details-page.component.spec.ts
  src/app/person/components/person-details-page/person-details-page.component.ts
  src/app/person/components/person-edition-page/person-edition-page.component.html
  src/app/person/components/person-edition-page/person-edition-page.component.scss
  src/app/person/components/person-edition-page/person-edition-page.component.spec.ts
  src/app/person/components/person-edition-page/person-edition-page.component.ts
  src/app/person/person-routing.module.ts
  src/app/person/person.module.ts
  src/app/person/person.routes.ts
Due: prettier --write, eslint, test

feat: impl. breadcrumbs feature
  src/app/person/components/person-details-page/person-details-page.component.html
  src/app/person/components/person-details-page/person-details-page.component.spec.ts
  src/app/person/components/person-details-page/person-details-page.component.ts
  src/app/person/components/person-edition-page/person-edition-page.component.html
  src/app/person/components/person-edition-page/person-edition-page.component.spec.ts
  src/app/person/components/person-edition-page/person-edition-page.component.ts
  src/app/person/person.module.ts
  src/app/shared/components/breadcrumbs/breadcrumbs.component.html
  src/app/shared/components/breadcrumbs/breadcrumbs.component.scss
  src/app/shared/components/breadcrumbs/breadcrumbs.component.spec.ts
  src/app/shared/components/breadcrumbs/breadcrumbs.component.ts
  src/app/shared/components/breadcrumbs/breadcrumbs.module.ts
  src/app/shared/configurations/person-details-breadcrumb.configuration.ts
  src/app/shared/configurations/person-edit-breadcrumb.configuration.ts
  src/app/shared/models/breadcrumb-item.model.ts
Due: prettier --write, eslint, test

feat: impl. person details page
  src/app/app.module.ts
  src/app/home/home-page/home-page.component.spec.ts
  src/app/home/home-page/home-page.component.ts
  src/app/person/components/person-details-page/person-details-page.component.html
  src/app/person/components/person-details-page/person-details-page.component.spec.ts
  src/app/person/components/person-details-page/person-details-page.component.ts
  src/app/person/components/person-form/person-form.component.html
  src/app/person/components/person-form/person-form.component.scss
  src/app/person/components/person-form/person-form.component.spec.ts
  src/app/person/components/person-form/person-form.component.ts
  src/app/person/person.module.ts
  src/app/person/services/person.service.ts
Due: prettier --write, eslint, test

chore: added CONTRIBUTING.md file to hacktoberfest
  CONTRIBUTING.md
Due: none

feat: impl. edition page feature
  src/app/person/components/person-edition-page/person-edition-page.component.html
  src/app/person/components/person-edition-page/person-edition-page.component.spec.ts
  src/app/person/components/person-edition-page/person-edition-page.component.ts
  src/app/person/components/person-form/person-form.component.html
  src/app/person/components/person-form/person-form.component.ts
  src/app/person/person.module.ts
  src/app/person/services/person.service.ts
  src/app/shared/configurations/person-edit-breadcrumb.configuration.ts
Due: prettier --write, eslint, test

test: configured warning unit test level
  karma.conf.js
Due: none

feat: added success feedback message status
  src/app/shared/components/feedback-messages/services/feedback-message.service.ts
  src/app/shared/components/search-input/search-input.component.ts
  src/styles.scss
Due: prettier --write, eslint, test

feat: added loader to home, edition and details page
  src/app/home/home-page/home-page.component.html
  src/app/home/home-page/home-page.component.ts
  src/app/person/components/person-details-page/person-details-page.component.html
  src/app/person/components/person-details-page/person-details-page.component.spec.ts
  src/app/person/components/person-details-page/person-details-page.component.ts
  src/app/person/components/person-edition-page/person-edition-page.component.html
  src/app/person/components/person-edition-page/person-edition-page.component.spec.ts
  src/app/person/components/person-edition-page/person-edition-page.component.ts
  src/app/person/components/person-form/person-form.component.html
  src/app/person/components/person-form/person-form.component.spec.ts
  src/app/person/components/person-form/person-form.component.ts
  src/app/person/person.module.ts
  src/app/shared/components/data-table/data-table.component.html
  src/app/shared/components/data-table/data-table.component.spec.ts
  src/app/shared/components/data-table/data-table.component.ts
  src/app/shared/components/data-table/data-table.module.ts
  src/app/shared/components/loader/loader.component.html
  src/app/shared/components/loader/loader.component.scss
  src/app/shared/components/loader/loader.component.spec.ts
  src/app/shared/components/loader/loader.component.ts
  src/app/shared/components/loader/loader.module.ts
Due: prettier --write, eslint, test

feat: added base route and layout to New Register
  src/app/home/home-page/home-page.component.html
  src/app/home/home-page/home-page.component.ts
  src/app/home/home.module.ts
  src/app/person/person.routes.ts
Due: prettier --write, eslint, test

chore: code style adjusts
  src/app/person/components/person-details-page/person-details-page.component.html
  src/app/shared/components/search-input/search-input.component.html
Due: prettier --write, eslint

feat: created new person component
  src/app/person/components/person-create-page/person-create-page.component.html
  src/app/person/components/person-create-page/person-create-page.component.scss
  src/app/person/components/person-create-page/person-create-page.component.spec.ts
  src/app/person/components/person-create-page/person-create-page.component.ts
  src/app/person/components/person-form/person-form.component.html
  src/app/person/components/person-form/person-form.component.scss
  src/app/person/components/person-form/person-form.component.ts
  src/app/person/person.module.ts
  src/app/shared/configurations/person-new-breadcrumb.configuration.ts
  src/app/shared/types/form-mode.type.ts
Due: prettier --write, eslint, test

feat: added new register crud
  src/app/home/home-page/home-page.component.html
  src/app/home/home-page/home-page.component.scss
  src/app/home/home.module.ts
  src/app/person/components/person-create-page/person-create-page.component.html
  src/app/person/components/person-create-page/person-create-page.component.ts
  src/app/person/services/person.service.ts
  src/environments/environment.development.ts
Due: prettier --write, eslint, test

test: added unit test for new register crud
  src/app/person/components/person-create-page/person-create-page.component.spec.ts
  src/app/person/components/person-create-page/person-create-page.component.ts
  src/app/shared/mocks/paginated-single-person-list.mock.ts
Due: prettier --write, eslint, test

feat: impl. remove feature
  src/app/home/home-page/home-page.component.spec.ts
  src/app/home/home-page/home-page.component.ts
  src/app/home/home.module.ts
  src/app/person/services/person.service.ts
  src/app/shared/components/delete-dialog/delete-dialog.component.html
  src/app/shared/components/delete-dialog/delete-dialog.component.scss
  src/app/shared/components/delete-dialog/delete-dialog.component.spec.ts
  src/app/shared/components/delete-dialog/delete-dialog.component.ts
  src/app/shared/components/delete-dialog/delete-dialog.module.ts
Due: prettier --write, eslint, test

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: upgraded @angular-eslint/schematics version
  package-lock.json
  package.json
Due: none

chore: upgraded angular version from 15 to 16
  package-lock.json
  package.json
Due: none

chore: upgraded angular material version from 15 to 16
  package-lock.json
  package.json
Due: none

chore: upgraded angular eslint version from 15 to 16
  package-lock.json
  package.json
Due: none

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: upgraded angular eslint schematics from version 16 to 17
  package-lock.json
  package.json
Due: none

chore: upgraded angular version from 16 to 17
  angular.json
  package-lock.json
  package.json
Due: none

chore: upgraded angular material version from 16 to 17
  package-lock.json
  package.json
Due: none

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: added clear search input fix
  .eslintrc.json
  src/app/home/home-page/home-page.component.html
  src/app/home/home-page/home-page.component.ts
  src/app/shared/components/search-input/search-input.component.html
  src/app/shared/components/search-input/search-input.component.ts
  tsconfig.json
Due: prettier --write, eslint, test
